@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #2c7cf3;
}

.form-container{
    display:grid;
    width: 1500px;
    height: 80vh;
    margin:50px auto;
    padding: 40px;
}

#register-form{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow:1px 1px 40px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.register-info{
    text-align: center;
    width: 60%; /* get full width of container and divide by 2 */
    border-radius: 50px 0 0 50px;
    position: relative;
    background-image: url("https://www.kindpng.com/picc/m/478-4789401_web-development-illustration-png-transparent-png.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #f7f7f7;
    padding: 40px;
}

.register-info > .title{
    position: absolute;
    top: 120px;
    right:25%;
    left:25%;
    font-size: 3.5rem;
}

.register-content{
    position: relative;
    width: 40%; /* get full width of container and divide by 2 */
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding:0 50px;
}

.register-content > .title{
    position: absolute;
    top: 140px;
    right:45%;
    font-size: 3rem;
}

label,
input{
    font-size: 1.4rem;
}

.form-label{
    margin-top:20px;
}

#username,
#password,
#phoneNum{
    border-radius: 5px;
    width: 350px;
    height: 30px;
}

#submit{
    margin-top: 40px;
    width: 175px;
    height: 40px;
}