

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
}

.container{
    position: relative;
    width:1000px;
    height: 90vh;
    margin:40px auto;
}

.row{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25%;
    right: 25%;
    left:25%;
    bottom:25%;
}

.card{
    border: 1px solid #000;
    border-radius: 10px;
    padding: .75rem;
    background-color: #fff;
}

#btn-change{
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color:#fff;
    border: 1px solid #333;
    transition:200ms all ease-out;
}

#btn-change:hover{
    background-color: #fff;
    color:#000;
}